__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.vscode
sync.txt
dataset_old.py
/scripts
project.pdf


report/*
!report/final_report.tex

results/*
!results/final/
!results/figures/
results/figures/*
!results/figures/final/
output/


data/processed/
data/clusters/
data/pairs/
data/spreads/
data/datasets/
data/synth/
data/raw/*.parquet
data/raw/universe.csv
